/* -----------------------------------------------------------------------------
   || Base - Base
   ========================================================================== */

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mx;

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var.$bc-primary;
}

.h-centered {
	margin-left: auto;
	margin-right: auto;
}

/**
* Vertically and horizontally center element
*/
.flex-vh-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/**
 * Vertically center(vc) and horizontally space between(hsb)
 */
.flex-vc-hsb {
	@include mx.flex-vc-hsb;
}

.block-element {
	display: block;
}