/* -----------------------------------------------------------------------------
   || Abstracts - mixins
   ========================================================================== */

@mixin flex-vc-hsb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
